<%= form_with(model: persona, local: true) do |form| %>
  <% if persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
        <% persona.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Name" %>
    </div>

  <div class="field">
  <%= form.select(:karma, options_for_select([['Hero', "Hero"], ['Villain', 'Villain'], ['Neutral', 'Neutral']])) %>
  </div>

  <div class="field">
    <%= form.label :media %>
    <%= form.text_field :media, placeholder: "Video-game, Literature, Movies, Series...." %>
  </div>

  <div class="field">
    <%= form.label :appearance %>
    <%= form.text_field :appearance, placeholder: "e.g. Star Trek franchise, The Expanse series." %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
